@use "sass:math";
// 色
$white: #fff;
$black: #000000;
$black2: #141414;
$beige: #f7f3e9;
$beige2: #fff5e9;
$orange: #e97b16;
$yellow: #fffdca;
$yellow2: #fffdec;
$yellow3: #fdec90;
$yellow4: #fcfbee;
$gold: #b19775;
$brown: #b97a57;
$brown2: #603813;
$gray: #e2e2e2;
$gray2: #a9a9a9;
$red: #e20000;
