@use "sass:math";
// 色
$white: #fff;
$black: #000000;
$black2: #141414;
$beige:#F7F3E9;
$beige2:#FFF5E9;
$orange:#E97B16;
$yellow:#FFFDCA;
$yellow2:#FFFDEC;
$yellow3:#FDEC90;
$yellow4:#FCFBEE;
$gold:#B19775;
$brown:#B97A57;
$brown2:#603813;
$gray:#E2E2E2;
$gray2:#A9A9A9;
$red:#E20000;