@use "../base/base";
@use "../base/reset";
@use "../global" as *;

.products{
  padding: rem(50px) 0;
}

.products__cards {
  margin-top: rem(80px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 72px), 1fr)); /* カードの間隔を考慮して均等に */
  column-gap: rem(72px);
  row-gap: rem(69px);
  align-items: stretch; /* すべてのアイテムが同じ高さになるように */
  @include mq("lg") {
      column-gap: rem(42px);
  }
  @include mq("md") {
      row-gap: rem(72px);
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  }
}
