@use "../global" as *;

.enrty__title {
  position: relative;
  font-size: rem(20px);
  font-weight: $medium;
  color: $black2;
  line-height: calcLineHeight(20, 36);
  margin-top: rem(12px);
  padding-left: rem(65px);
  padding-bottom: rem(8px);
  border-bottom: 1px solid $brown2;
  @include mq("md") {
    font-size: 18px;
    line-height: calcLineHeight(18, 30);
    margin-top: 10px;
  }
}

.enrty__title::before {
  position: absolute;
  content: url(../images/pudding-icon.svg);
  width: rem(42px);
  left: 0;
}

.entry__body {
  margin-top: rem(35px);
}

.entry__body .detail__thumbnail {
  max-width: 100%;
  width: auto;
  height: auto;
}

.detail-content {
  margin-top: rem(40px);
  @include mq("md") {
    margin-top: rem(26px);
  }
}

.detail-content h3 {
  font-size: rem(22px);
  font-weight: $medium;
  color: $white;
  background-color: $brown;
  margin-bottom: rem(40px);
  padding: rem(8px) rem(14px);
  border-radius: 5px;

  @include mq("md") {
    font-size: rem(16px);
  }
}

.detail-content h4 {
  position: relative;
  padding-bottom: rem(7.5px);
  padding-left: rem(14px);
  margin-bottom: rem(40px);
}

.detail-content h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 37%;
  height: 1px;
  background-color: $brown;
}

.detail-content h4::before {
  content: "";
  position: absolute;
  left: 37%;
  bottom: 0;
  width: 63%;
  height: 1px;
  background-color: $gray2;
}

.detail-content p {
  font-size: rem(16px);
  line-height: calcLineHeight(16, 32);
  margin-bottom: rem(40px);
}

.detail-content ul {
  margin-bottom: rem(40px);
}

.detail-content li {
  position: relative;
  padding-left: 1em;
}

.detail-content li::after {
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 4px;
  background-color: $brown;
}

.detail-content li + li {
  margin-top: rem(4px);
}

.single-nav-wrapper {
  margin-top: rem(72px);
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(100% / 3 - rem(56px)), 1fr)
  ); /* カードの間隔を考慮して均等に */
  column-gap: rem(56px);
  justify-items: center;
  align-items: center;
  @include mq("md") {
    margin-top: rem(55px);
    grid-template-columns: 1fr;
    row-gap: rem(27px);
  }
}
