@use "../global" as *;

// フッター
.footer {
  width: 100%;
}

.footer__nav-wrap {
  position: relative;
  background-color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(154px);
  @include mq("md") {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    padding: rem(38px) 0;
  }
}

.footer__nav {
  max-width: $container-size-xl;
  width: 100%;
  margin: 0 auto;
  height: inherit;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: inherit;
  @include mq("md") {
    flex-direction: column;
    align-items: baseline;
    margin-left: rem(25px);
  }
}

.footer__item:not(:first-child) {
  margin-left: rem(60px);
  @include mq("lg") {
    margin-left: rem(30px);
  }
  @include mq("md") {
    margin-left: 0;
  }
}

.footer__item {
  height: inherit;
  @include mq("lg") {
    height: rem(53px);
  }
}

.footer__link {
  font-size: rem(16px);
  font-weight: $medium;
  letter-spacing: 0.05em;
  color: $black;
  display: flex;
  align-items: center;
  height: inherit;
}

.footer__deco {
  position: absolute;
  bottom: 0;
  right: rem(25px);
}

.footer__deco-img {
  width: rem(190px);
  @include mq("lg") {
    width: rem(142px);
  }
}

.footer__content {
  background-color: $brown2;
  padding-top: rem(35px);
  padding-bottom: rem(22px);
  @include mq("md") {
    padding-bottom: rem(86px);
  }
}

.footer__content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  width: rem(212px);
}

.footer-sns__items {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: rem(4px);
  @include mq("md") {
    margin-top: rem(12px);
  }
}

.footer-menu-sns__link {
  color: $white;
  font-size: rem(22px);
}

.footer__privacy-policy-link {
  font-size: rem(12px);
  font-weight: $regular;
  letter-spacing: 0.05em;
  color: $white;
  margin-top: rem(20px);
}

.footer__copyright {
  font-family: $third-font;
  font-size: rem(14px);
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(27px);
  @include mq("md") {
    font-size: rem(12px);
    margin-top: rem(20px);
  }
}
